<h1>
  Página de Home
</h1>
<div>
  <h2>Tus Recetas: </h2>
  <div>
    <app-lista></app-lista>
  </div>

  <!-- Botón para navegar a Página de Login -->
  <!-- TODO: Descomentar para ver un botón que navega a login -->
  <!-- <button [routerLink]="['/login']">
    Navegar a login
  </button> -->

  <button (click)="logout()">
    Salir
  </button>

</div>
