<h1>
  {{receta.nombre}}
</h1>
<h2 *ngIf="receta.descripcion">
  {{ receta.descripcion }}
</h2>
<h3>
  <!-- Tiempo Requerido: {{receta.tiempo}} horas -->
  <!-- USO DE PIPE DE TIEMPO -->
  <!-- {{ receta | tiempo:"segundos" }} -->
  <!-- {{ receta | tiempo:"minutos" }} -->
  {{ receta | tiempo:"horas" }}
</h3>
<button [routerLink]="['/home']">
  Volver a la home
</button>
