<div *ngFor="let receta of listaRecetas; let i = index">
  <div class= "receta" [routerLink]="['/detail', i]" [queryParams]="receta">
    <h3>
      {{receta.nombre}}
    </h3>
    <h4>
      {{receta.tiempo}}
    </h4>
  </div>
</div>


<!-- TODO: Descomentar para ver un botón que navega a la página detail/1 -->
<!-- <button [routerLink]="['/detail/1']">
  Ir al detalle de la receta
</button> -->
