<h1>
  Página de Detalle de Producto: {{idReceta}}
</h1>

<!-- Comprobamos si estamos cargando de la ruta la receta -->
<!-- dado que leer de los queryparams tarda un poco más -->
<!-- Si no controlamos con un renderizado condicional, estaríamos pintando -->
<!-- <app-detalle> antes de poderle pasar los datos de la receta que nos vienen por los queryparams -->
<!-- Es un problema de ASINCRONÍA -->

<!-- Esto se pinta cuando esté cargando (cargandoReceta = true) -->
<ng-container *ngIf="cargandoReceta else elseTemplate">
  <div>
    <p>Cargando...</p>
  </div>
</ng-container>

<!-- Esto solo se pinta cuando haya dejado de cargar (cargandoReceta = false) -->
<ng-template #elseTemplate>
  <app-detalle [receta]="receta"></app-detalle>
</ng-template>



