<h1>
  Página de Login
</h1>
<div>
  <app-formulario-login></app-formulario-login>

  <!-- TODO: Descomentar para ver cómo hacer un botón para navegar a Página de Home -->
  <!-- <button [routerLink]="['/home']">
    Navegar a Home
  </button> -->
</div>
